<launch>
	
	<!-- Start Gmapping -->		
	<node pkg="gmapping" type="slam_gmapping" name="gmapping_node" output="screen" >
		<!--param name="maxUrange" value="4.0"/--> <!-- limit laser range to 4 meters -->
		<param name="odom_frame" value="/odom"/>
	</node>


	<!-- Start Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-olive)/rviz/challenge3.rviz" />
	
	<node pkg="grp-olive" type="main_simulation.py" name="main" output="screen"></node>*
	<!--include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/-->
	<node pkg="grp-olive" type="move_simulation.py" name="move" output="screen"></node>
	<!-- Start Gazebo -->
	<include file="$(find tbot_gazebo)/launch/start_world.launch">
		<arg name="world_file" value="$(find grp-olive)/models/world.world" />
	</include>
	<include file="$(find tbot_gazebo)/launch/spawn_tbot.launch">
		<arg name="x" value="-3.32" />
		<arg name="y" value="-2.95" />
		<arg name="yaw" value="2.86" />
	</include>
			
</launch>
