<launch>

	<arg name="world_file" value="$(find stage_ros)/world/willow-erratic.world" />
	
	<!-- Start Stage -->
	<node pkg="stage_ros" type="stageros" name="stage" args="$(arg world_file)"/>

	<!-- Start Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_stage)/rviz/robot_navigation.rviz"/>

	<!-- Setup Keyboard teleop -->
  	<!-- turtlebot_teleop_key already has its own built in velocity smoother -->
  	<node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="teleop_twist_keyboard" output="screen">
    		<param name="scale_linear" value="0.5" type="double"/>
    		<param name="scale_angular" value="1.5" type="double"/>
    		<remap from="teleop_twist_keyboard/cmd_vel" to="cmd_vel"/>
  	</node>
	
	<!-- Start Gmapping -->
	<node pkg="gmapping" type="slam_gmapping" name="gmapping_node" output="screen" >
		<remap from="scan" to="/base_scan" />
		<param name="odom_frame" value="/odom" />
	</node>
</launch>
